.navigation {
  position: absolute;
  width: $max-width;
  margin-left: -$max-width / 2;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: $heading-font-family;
  font-size: 30px;
  padding-top: 45px;
  margin: 0;
  text-decoration: none;
  color: $black;
}

.icon-hamburger {
  padding-top: 45px;
}

.header {
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  &__titles {
    text-align: center;
    width: $max-width;
    margin: 0 auto;
  }

  &__title {
    font-size: 150px;
    color: $pink;
    margin: 0;

    &--blue {
      color: $blue;
    }
  }

  &__subtitle {
    font-size: 60px;
    margin: 0;
  }
}
