//colors
$pink: #E7194F;
$blue: #00BEC5;
$grey-lighter: #F3F3F3;
$grey-medium: #CCC;
$grey-darker: #777;
$white: white;
$black: black;

//fonts
$default-font-family: "Muli", sans-serif;
$heading-font-family: "Montserrat", sans-serif;

//sizes
$max-width: 1200px;

$grid-columns: 12;
$grid-gutter: 30px;